<html>
  <body>
    <%= Date.today %>
    Hello
    <% if Date.today.monday? %>
    Blue
    <% end %>
    Day

    <form action="/target_url/" method="post">
      <input type="text" name="message">
      <input type="submit">
    </form>
  </body>
</html>