<html>
	<body>
		<form method="post" action='message'>
			<input type='text' name="message">
			<input type='submit'>
		</form>
		<form method="post" action='dl'>
			<ul title="TO DO LIST">
				<% if @tasks!=nil %>
					<% i = 0 %>
					<% @tasks.each do |item| %>
						<li><input value="<%= i %>" name="checkbox" type="checkbox" > <%= item %></li>
						<% i+= 1 %>
					<% end %>
				<%end%>
			</ul>
			<input type='submit' name='delete' value='delete'>
		</form>

	</body>
</html>


